@use "styles" as styles;

.banner {
  width: 1020px;
  height: 400px;
  margin: auto 150px;
  box-shadow: 0px -1px 120px 19px styles.$secondary-color;
}
.container-txt {
  max-width: 1500px;
  margin: 130px auto;
  text-align: center;
}

.txt {
  font-family: styles.$primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.5px;
  color: black;
}

.logobig {
  // margin-top: -500px;
  margin-left: 50px;
  width: auto;
}
