@use "styles";

.container {
  margin-top: 100px;
  margin-left: 100px;
}

.bannerhome {
  width: 1020px;
  height: 400px;
  margin-bottom: 50px;
  margin-top: 0px;
  box-shadow: 0px -1px 120px 19px styles.$secondary-color;
  margin-left: 150px;
}

.search-icon {
  position: absolute;
  top: 45%;
  right: 20px;
  transform: translateY(-150%);
  color: gray;
}
