@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

$primary-font: 'Lato', sans-serif;
 $primary-color: #27a5f5;
 $secondary-color: #1738a7;
